@import url('https://fonts.googleapis.com/css?family=Carme');
@import url('https://fonts.googleapis.com/css?family=Carme|IBM+Plex+Sans+Condensed');

$size__max-width-content: 1200px;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Carme', sans-serif;
  //font-weight: bold
  font-size: 14pt;
  box-sizing: border-box;
}

header, main {
  margin: 20px auto;
  max-width: $size__max-width-content;
}

header {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;

    li {
      margin: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h1 {
    font-size:1.5em;
    font-family: 'IBM+Plex+Sans+Condensed', sans-serif;
    font-weight: 600;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .project-item {
    width: 30vw;

    img {
        width: 100%;
    }
  }



}
